## Use pandas to read a .csv file

In [220]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series 

df = pd.read_csv('airlines.csv')
print(df)

    Airline    Destination Arrival Status  Number of Flights
0    Alaska    Los Angelos        On Time                497
1    Alaska    Los Angelos        Delayed                 62
2    Alaska        Phoenix        On Time                221
3    Alaska        Phoenix        Delayed                 12
4    Alaska      San Diego        On Time                212
5    Alaska      San Diego        Delayed                 20
6    Alaska  San Francisco        On Time                503
7    Alaska  San Francisco        Delayed                102
8    Alaska        Seattle        On Time               1841
9    Alaska        Seattle        Delayed                305
10  AM West    Los Angelos        On Time                694
11  AM West    Los Angelos        Delayed                117
12  AM West        Phoenix        On Time               4840
13  AM West        Phoenix        Delayed                415
14  AM West      San Diego        On Time                383
15  AM West      San Diego        Delayed                 65
16  AM West  San Francisco        On Time                320
17  AM West  San Francisco        Delayed                129
18  AM West        Seattle        On Time                201
19  AM West        Seattle        Delayed                 61

 ## Total Delayed Flights from Alaska

In [221]:
print('Alaska Delayed Flights')
newdf = df.iloc[[1,3,5,7,9],[0,1,3]]
print(newdf)
print('Total', df.iloc[[1,3,5,7,9],[3]].sum())

Alaska Delayed Flights
  Airline    Destination  Number of Flights
1  Alaska    Los Angelos                 62
3  Alaska        Phoenix                 12
5  Alaska      San Diego                 20
7  Alaska  San Francisco                102
9  Alaska        Seattle                305
Total Number of Flights    501
dtype: int64

 ## Total Delayed Flights from AM West

In [222]:
print('AM West Delayed Flights')
newdf = df.iloc[[11,13,15,17,19],[0,1,3]]
print(newdf)
print('Total', df.iloc[[11,13,15,17,19],[3]].sum())

AM West Delayed Flights
    Airline    Destination  Number of Flights
11  AM West    Los Angelos                117
13  AM West        Phoenix                415
15  AM West      San Diego                 65
17  AM West  San Francisco                129
19  AM West        Seattle                 61
Total Number of Flights    787
dtype: int64

 ## Maximum Delayed Flights

In [228]:

print('AM West Delayed Flights')
print('Maximum Delayed (Phoenix)', df.iloc[[11,13,15,17,19],[3]].max())
print('Alaska Delayed Flights')
print('Maximum Delayed (Seattle)', df.iloc[[1,3,5,7,9],[3]].max())

AM West Delayed Flights
Maximum Delayed (Phoenix) Number of Flights    415
dtype: int64
Alaska Delayed Flights
Maximum Delayed (Seattle) Number of Flights    305
dtype: int64